<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="ReportTemplateDirectory" value="\SVRF\Template\" />
    <add key="PipingNodeImageDirectory" value="\SVRF\NodeImagePiping\" />
    <add key="WiringNodeImageDirectory" value="\SVRF\NodeImageWiring\" />
    <add key="ProjectFileDirectory" value="\SVRF\ProjectFiles\" />
    <add key="LogFileDirectory" value="\SVRF\Log\" />
    <add key="HelpFileDirectory" value="\SVRF\Help\" />
    <add key="ReportTemplateName" value="VRF_Report.doc" />
    <!-- add on 201207 -->
    <add key="ReportTemplateName_CN" value="VRF_Report_CN.doc" />
    <!-- add on 201207 end-->
    <add key="SystemLogName" value="SystemLog.txt" />
    <add key="HelpFlashNameCN" value="vrf.swf" />
    <add key="HelpFlashNameEN" value="vrf.swf" />
    <add key="HelpPPTNameCN" value="VRF Software Guide_CN.pdf" />
    <add key="HelpPPTNameEN" value="VRF Software Guide_EN.pdf" />
    <add key="RegistrationNamePath" value="Registration.exe" />
    <!--add for TypeImage-->
    <add key="TypeImageDirectory" value="\SVRF\TypeImage\" />
    <!--<add key="Version" value="1.20" />-->
    <add key="Version" value="4.0.0" />
    <!--<add key="DBVersion" value="1.00" />-->
    <add key="DBVersion" value="4.0.0" />
    <add key="VersionTime" value="2018-10-16" />
    <add key="DBVersionTime" value="2018-10-16" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>