<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AppList" value="JCHVRF,NewVRF,VRFPE" />
    <add key="WSPath" value="http://{0}/VP/Patchs/PathServices.asmx" />
    <add key="RootPath" value="http://{0}/VP/Upload/" />
    <add key="IpList" value="10.90.65.54;120.55.49.150" />
    <add key="TimeOut" value="1000" />
    <add key="FileType" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
