<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <!--<add name="VRFLocalDB" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\GlobalVRF\Project.mdb;Persist Security Info=False;Jet OLEDB:Database Password=YqJz2010Co04Ir15Kf;"/>-->
    <add name="ProjectDB" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=Project.mdb;Persist Security Info=False;Jet OLEDB:Database Password=YqJz2010Co04Ir15Kf;"/>
    <add name="VRFDB" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\..\DB\VRF.dat;Persist Security Info=False;Jet OLEDB:Database Password=VwA15CxRfN2012ThL;"/>
    <!--<add name="ProjectDB" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\..\DB\Project.mdb;Persist Security Info=False;Jet OLEDB:Database Password=YqJz2010Co04Ir15Kf;"/>-->
  </connectionStrings>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="console" />
      <appender-ref ref="file" />
    </root>
    <appender name="file" type="log4net.Appender.RollingFileAppender">
      <file value="${USERPROFILE}\AppData\Local\JCHVRFNextGen\ErrorInfoLogs.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <appSettings>
    <!-- Access-->
    <add key="ProjectFileDirectory" value="\NVRF\ProjectFiles\" />
    <add key="AssemblyName" value="JCHVRF.DALFactory" />
    <add key="DAO" value="JCHVRF.DALFactory.DAOAccess" />
    <add key="Version" value="9.0.0" />
    <add key="PipingNodeImageDirectory" value="\NVRF\NodeImagePiping\" />
    <add key="DBVersion" value="4.0.0" />
    <add key="log4net.Internal.Debug" value="true"/>
    <add key="UndoRedoCount" value="10"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add
            name="textWriterTraceListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>