<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Access-->
    <add key="AssemblyName" value="JCHVRF.DALFactory"/>
    <add key="DAO" value="JCHVRF.DALFactory.DAOAccess"/>
    <add key="ReportTemplateDirectory" value="\NVRF\Template\"/>
    <add key="PipingNodeImageDirectory" value="\NVRF\NodeImagePiping\"/>
    <add key="WiringNodeImageDirectory" value="\NVRF\NodeImageWiring\"/>
    <add key="ProjectFileDirectory" value="\NVRF\ProjectFiles\"/>
    <add key="LogFileDirectory" value="\NVRF\Log\"/>
    <add key="HelpFileDirectory" value="\NVRF\Help\"/>
    <add key="ReportTemplateName" value="VRF_Report.doc"/>
    <!-- add on 201207 -->
    <add key="ReportTemplateName_CN" value="VRF_Report_CN.doc"/>
    <!-- add on 201207 end-->
    <add key="SystemLogName" value="SystemLog.txt"/>
    <add key="HelpFlashNameCN" value="vrf.swf"/>
    <add key="HelpFlashNameEN" value="vrf.swf"/>
    <add key="HelpPPTNameCN" value="VRF Software Guide_CN.pdf"/>
    <add key="HelpPPTNameEN" value="VRF Software Guide_EN.pdf"/>
    <add key="RegistrationNamePath" value="Registration.exe"/>
    <!--add for TypeImage-->
    <add key="TypeImageDirectory" value="\NVRF\TypeImage\"/>
    <!--add for ControllerImage-->
    <add key="ControllerImageDirectory" value="\NVRF\ControllerImage\"/>
    <!--add for Remote Control Switch Image-->
    <add key="RemoteControlSwitchImageDirectory" value="\NVRF\ControllerSwitchImage\" />
    <add key="Version" value="4.7.2" />
    <add key="DBVersion" value="4.7.2" />
    <add key="VersionTime" value="2019-6-28" />
    <add key="DBVersionTime" value="2019-6-28" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="UseAutoUpdate" value="True"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
